@typeparam T

<style>
    .option{

    }
    .option h4{
        margin: 4px 0;
        font-size: 1em;
    }
    .option ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0;
        padding-left: 1.5em;
    }

    .option li {
        display: block;
        padding: 6px 12px;
        border: 1px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        color: rgb(64,64,64);
    }

        .option li:hover {
            background-color: whitesmoke;
        }


    .option li.selected {
        background-color: whitesmoke;
        border: 1px solid var(--border-brush);
    }
    .null{
        font-size: 0.8em;
        color: gray;
    }
</style>

<section class="option">
    <header>
        @if (!string.IsNullOrEmpty(HeaderText)) { <h4>@HeaderText</h4> }    
    </header>

    <ul>
        @foreach (var item in List)
        {
            <li class="@(GetCssClass(item))" @onclick="() =>Set(item)">
                <span>@item.ToString()</span>
            </li>
        }
        @if (Nullable)
        {
            <li class="@(GetCssClass(default))" @onclick="() =>Set(default)">
                <span class="null">X</span>
            </li>
        }
    </ul>
</section>

@code {
    [Parameter]
    public bool Nullable { get; set; }
    [Parameter]
    public string HeaderText { get; set; }
    [Parameter]
    public IEnumerable<T> List { get; set; }
    [Parameter]
    public T Selected { get; set; }
    [Parameter]
    public EventCallback<T> OnSelectCallback { get; set; }


    private string GetCssClass(T select)
    {
        if(select != null)
        {
            return select.Equals(Selected) ? "selected" : "";
        }
        return "";
    }
    private void Set(T select)
    {
        Selected = select;
        OnSelectCallback.InvokeAsync(select);
    }
}
