@inherits CollectionComponent<T>
@typeparam T

<section class="option">
    <header>
        @if (!string.IsNullOrEmpty(HeaderText)) { <h4>@HeaderText</h4> }    
    </header>

    <ul>
        @foreach (var item in List)
        {
            <li class="@(GetCssClass(item))" @onclick="() =>Set(item)">
                <span>@item.ToString()</span>
            </li>
        }
        @if (Nullable)
        {
            <li class="@(GetCssClass(default))" @onclick="() =>Set(default)">
                <span class="null">X</span>
            </li>
        }
    </ul>
</section>
