<style>
    .report-blocks{
        display: flex;
        margin: 10px 5px;
    }
    .report-type-block {
        display: flex;
        border: 1px solid silver;
        border-radius: 2px;
        padding: 1em 0.2em;
        margin: 0 5px;
    }

    a.report-type-block {
        text-decoration: none;
        cursor: pointer;
        color: rgb(64,64,64);
    }

    a.report-type-block {
        color: black;
    }

        a.report-type-block:hover img {
            opacity: 1;
        }

        a.report-type-block:visited {
            color: black;
        }

    .report-type-block img {
        height: 48px;
        margin: 0 15px;
        opacity: 0.5;
    }

    .report-type-block-text {
    }

    .report-type-block-header {
        font-weight: 600;
        font-size: 1.2em;
    }
</style>
<div class="report-blocks">
    <NavLink href="classic" class="report-type-block">
        <img alt="Классический вариант" src="images/columns.svg" />
        <div class="report-type-block-text">
            <span class="report-type-block-header">Классический путь</span><br />
            <span>Заранее настроенная таблица с количеством сообщений в уездном месяце N</span>
        </div>
    </NavLink>
    <NavLink href="statistics" class="report-type-block">
        <img alt="Классический вариант" src="images/sliders.svg" />
        <div class="report-type-block-text">
            <span class="report-type-block-header">Продвинутый вариант</span><br />
            <span>Вручную настраиваемый отчет, который покажет что угодно и как угодно. Ещё и попыхтит при этом.</span>
        </div>
    </NavLink>
</div>