:root {
    --border-brush: gainsboro;
    --inner-padding: 0.5em 1em;
    --selected-color: orange;
    --background-color: white;
    --headers-color: whitesmoke;
    --content-color: white;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.row-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content{
    padding: 1em;
}

.select-options {
    height: 40px;
    border: 1px solid silver;
}

.select-options option {
    display: inline-block;
    padding: 8px 10px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
