<a href="@Href" class="report-type-block">
    <img alt="-" src="@Img" />
    <div class="report-type-block-text">
        <span class="report-type-block-header">@Header</span><br />
        <span class="report-type-text">@ChildContent</span>
        
    </div>
</a>
@code {
    [Parameter]
    public string Img { get; set; }
    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
