@inherits CollectionComponent<T>
@typeparam T

<section class="option-select">
    @if (!string.IsNullOrEmpty(HeaderText))
    {<h4>@HeaderText</h4>}

    <select @bind="Item" style="border: @(BorderWidth)px solid silver">
        @for (int i = 0; i < List.Count(); i++)
        {
            <option value="@i">
                @List.ElementAt(i).ToString()
            </option>
        }
    </select>
</section>

@code {
    [Parameter]
    public int BorderWidth { get; set; } = 0;
}