

.site-footer {
    grid-area: footer;
    border-top: 1px solid var(--border-brush);
    text-align: center;
    padding: var(--inner-padding);
    background-color: var(--headers-color);
}
.site-footer a{
    color: royalblue;
    text-decoration: none;
    cursor: pointer;
}
.site-footer a:hover{
    color: blue;
}
.site-footer p{
    margin: 8px 0;
    line-height: 150%;
}

.RM, .CA {
    font-size: 1.2em;
    font-family: 'Minecraft Rus', Verdana;
    letter-spacing: 3px;
}
.RM{
    color: darkorange;
}
.CA {
    color: gray;
}
