.logo {
    grid-area: logo;
    border-bottom: 1px solid var(--border-brush);
    background-color: var(--headers-color);
    padding: var(--inner-padding);
}
.logo-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.logo-image {
    height: 60px;
    margin: 0 1em;
}
.rumine{
    color: darkorange;
}