<header class="logo">
    <a class="logo-link" href="#">
        <img class="logo-image" src="images/Герб.png" />
        <h1>Активность форума <span class="rumine">Ru-minecraft.ru</span></h1>
    </a>
</header>
