.menu {
    grid-area: menu;
    min-width: 8em;
    padding-top: 12px;
    border-right: 1px solid var(--border-brush);
    padding: var(--inner-padding);
    text-align: center;
    background-color: var(--headers-color);
}

section > header{
    display: flex;
    align-items: center;
}
section > header img{
    height: 24px;
    margin: 0 6px;
}
.menu-header {
    font-size: 1.2em;
}

.menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
}

.menu-footer {
    margin-top: 10px;
    border-top: 1px solid var(--border-brush);
    padding-top: 10px;
}


.menu-list-link {
    display: block;
    padding: 4px 0;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

    .menu-list-link:hover {
        background-color: gainsboro;
    }