@inherits StatComponent

<style>
    .menu-list a{
        display: block;
        padding: 5px;
        border-radius: 2px;
        text-decoration: none;
        color: black;
        text-align: left;

        border: 5px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

        .menu-list a.active {
            border-left: 5px solid var(--selected-color);
            border-right: 5px solid var(--selected-color);
            border-top: 1px solid silver;
            border-bottom: 1px solid silver;
        }
        .menu-list a:hover {
            background-color: gainsboro;
        }
</style>
<nav class="menu">
    <ul class="menu-list">
        <li class="menu-list-item">
            <NavLink href="" Match="NavLinkMatch.All" class="menu-list-link">
                А это как?
            </NavLink>
        </li>
    </ul>
    <section>
        <header>
            <img alt="Данные" src="images/database.svg" />
            <h2 class="menu-header">Данные</h2>
        </header>
        <ul class="menu-list">
            <li class="menu-list-item">
                <NavLink href="add" class="menu-list-link">
                    Добавить
                </NavLink>
            </li>
            <li class="menu-list-item">
                <NavLink href="posts/view" class="menu-list-link">
                    Посты
                </NavLink>
            </li>
            <li class="menu-list-item">
                <NavLink href="topics/view" class="menu-list-link">
                    Темы
                </NavLink>
            </li>
        </ul>
    </section>
    <section>
        <header>
            <img alt="Данные" src="images/activity.svg" />
            <h2>Статистика</h2>
        </header>
        <ul class="menu-list">
            <li class="menu-list-item">
                <NavLink href="classic" class="menu-list-link">
                    Классическая
                </NavLink>
            </li>
            <li class="menu-list-item">
                <NavLink href="statistics" Match="NavLinkMatch.All" class="menu-list-link">
                    Отчеты
                </NavLink>
            </li>
            <li class="menu-list-item">
                <NavLink href="statistics/compare" class="menu-list-link">
                    Сравнение
                </NavLink>
            </li>
        </ul>
    </section>
    @*<footer class="menu-footer">
        <p>
            <span>Тем: @App.Topics.Count</span><br />
            <span>Сообщений: @App.Posts.Count</span><br />
            <input type="button" value="Загрузить инфу" @onclick="LoadDataFromApi"/>
        </p>
    </footer>*@
</nav>

@code{
    //private async Task LoadDataFromApi()
    //{
    //    await App.SetOnlineSource();
    //}
}