body {
    background-color: var(--background-color);
    font-family: 'Segoe UI';
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-columns: 3fr 10fr;
    grid-template-areas:
        "logo logo"
        "menu content"
        "footer footer";
    margin: 0 5em;
    background-color: white;
    border: 2px solid var(--border-brush);
    border-radius: 3px;
    max-width: 1400px;
}


    .container > main {
        grid-area: content;
        padding: var(--inner-padding);
    }
