@inherits LayoutComponentBase

<div class="container">
    <Logo />

    <div class="main-content">
        <Menu />

        <main>
            @Body
        </main>
    </div>

    <Footer />
</div>
