.table-activity{
    border-collapse: collapse;
    border: 1px solid silver;
    font-size: 1em;
}
.table-activity caption{
    margin: 10px;
    font-size: 1.25em;
}

.table-activity td{
    padding: 6px 8px;
    text-align: center;
}
    .table-activity th {
        background-color: whitesmoke;
        border-bottom: 1px solid gainsboro;
    }



.title{
    font-size: 1.2em;
    padding: 6px 10px;
}
.primary-key {
    padding: 8px 15px;
    border-right: 1px solid gainsboro;
}
.secondary-key {
    padding: 8px;
    font-size: 0.95em;
}

.sum-title{
    font-weight: 500;
}
.sum {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.posts{
    font-size: 0.9em;
}
    .posts:hover {
        color: blue;
        cursor: pointer;
    }
.unknown{

}