
.tables {
    flex: 3;
}

.rules {
    flex: 1;
    margin: 0 8px;
}

/* ТАБЛИЦА РЕКОРДОВ */
.records-table {
    margin: 8px 0;
}

    .records-table td {
        padding: 4px 10px;
    }

    .records-table caption {
        text-align: left;
    }

    .records-table h3 {
        margin: 5px 0px;
    }


/* ТАБЛИЦА СО СПИСКОМ ЗНАЧЕНИЙ */

.values-table {
    border-collapse: collapse;
    font-size: 0.85em;
    width: 100%;
    font-variant-numeric: lining-nums tabular-nums;
}

    .values-table h2 {
        margin: 8px 0;
    }

    .values-table caption {
        font-size: 1.5em;
        padding: 8px 0;
        background-color: whitesmoke;
    }

    .values-table td {
    }
    .values-table td, .values-table th {
        padding: 0.5em 0.5em 0.75em 0.5em;
        line-height: 1;
        border-bottom: 1px solid gainsboro;
    }
    .values-table tr td:first-child{
        border-bottom-color: transparent;
    }

    .values-table th {
        font-weight: 500;
        border-bottom: 1px solid gainsboro;
    }

    td.posts{
        text-align: right;
    }



/* НАСТРОЙКИ ОТОБРАЖЕНИЯ */

.rules h2 {
    margin: 0;
    padding: 5px 0;
    font-size: 1.3em;
}

.rules .content {
    font-size: 0.9em;
    padding: 0;
    padding-left: 1em;
}

.option-accuracy input {
    width: 3em;
}


/* ТАБЛИЦА ЦВЕТОВЫХ ПРАВИЛ */

.rules-table {
    width: 100%;
}

    .rules-table caption {
        text-align: left;
    }

    .rules-table th {
        font-weight: 500;
        font-style: italic;
    }

    .rules-table input {
        max-width: 100%;
    }

.rule-range {
    max-width: 35px;
}

.rule-color {
    max-width: 50px;
}

.rules-header {
    margin: 10px 0 5px 0;
}
