@inject IStatApp app

<footer class="site-footer">
    <p title="RumineCore">
        <b><span class="RM">RM</span><span class="CA">CA</span></b> <br />

        Сделано <a href="https://github.com/Alleaxx">Аллеахом</a> <br />
        Репозиторий на GitHub: <a href="https://github.com/Alleaxx/RumineActivity">RumineActivity</a>, v@(app.VersionInfo) (@app.LastUpdateInfo.ToString("dd.MM.yyyy")) <br />
        Главный источник акт*вности: <a href="https://ru-minecraft.ru/forum">форум Румине</a> <br />
        И даже права защищены! (c)
    </p>
</footer>
