.menu {
    flex: 4;
    min-width: 12em;
    padding-top: 12px;

    position: sticky;
    top: 0;
    align-self: flex-start;
}
@media (max-device-width:480px) {
    .menu{
        align-self: stretch;
    }
}

header{
    display: flex;
    align-items: center;
}
header img{
    height: 22px;
    margin: 0 4px;
    opacity: 0.8;
}
header h2 {
    font-size: 1.2em;
}

.menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}
.menu-list-header{
    margin: 4px;
}
.menu-list-mini-header {
    display: block;
    font-size: 0.8em;
    color: gray;
    text-align: left;
    margin: 4px 0;
}

.report-link {
    display: flex;
    font-size: 0.8em;
    user-select: none;
    border: 2px solid transparent;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.report-link-remove{
    cursor: pointer;
    user-select: none;
    color: red;
}


@media (max-device-width:480px) {
    .menu {
        flex: 0;
    }
}