
.new-post {

}
.new-post h2{
    margin: 5px 0;
}
.content {
    padding: 1em;
}


.inputs{
    margin: 5px 0;
}
.inputs label {
    margin: 5px 0;
}
.inputs input {
    margin: 3px 0;
    margin-left: 12px;
    padding: 3px;
    max-width: 100%;
}



.information details{
    margin: 8px 0;
}

.information ul {
    margin: 5px 0;
    padding: 0;
    margin-left: 2em;
}
.information ul ul {
    margin-left: 1em;
}

.information > ul li:last-child{
    list-style-type: none;
}

li.normal{
    color: green;
}
li.error{
    color: darkred;
}
li.warning{
    color: red;
}


.sending{
    margin-left: 1em;
}
    .sending button {
        margin: 5px 0;
        padding: 6px 20px;
        background-color: transparent;
        border: 1px solid silver;
        cursor: pointer;
    }
    .sending button:hover{
        background-color: whitesmoke;
        color: green;
        border: 1px solid limegreen;
    }

.result{
    margin-left: 1em;
}
    .result p{
        font-size: 0.8em;
        color: rgb(64,64,64);
    }