
.rules {
    flex: 1;
    margin: 8px;
}

    /* НАСТРОЙКИ ОТОБРАЖЕНИЯ */

    .rules h2 {
        margin: 0;
        padding: 5px 0;
        font-size: 1.3em;
    }

    .rules .content {
        font-size: 0.9em;
        padding: 0;
        padding-left: 1em;
    }

.option-accuracy input {
    width: 3em;
}

.table-section h4 {
    margin: 10px 0px;
}


/* ТАБЛИЦА ЦВЕТОВЫХ ПРАВИЛ */

.rules-table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid gainsboro;
    margin-left: 1em;
}

    .rules-table th {
        text-align: left;
        border-bottom: 1px solid silver;
        padding: 5px 10px;
        font-weight: 500;
    }

    .rules-table td {
        padding: 5px 10px;
    }
    .rates th{
        padding: 4px;
    }
    .rates td{
        padding: 4px;
        font-size: 0.9em;
    }

    .rules-table input {
        max-width: 100%;
    }

.rule-range {
    max-width: 35px;
}

.rule-color {
    max-width: 50px;
    border: 1px solid silver;
}

.config-display-values ul {
    font-size: 0.9em;
}

.rules-header {
    text-align: left;
    color: gray;
    font-size: 0.9em;
    margin: 3px;
}

.label-value-info {
    display: inline-block;
    min-width: 20em;
}
.config-display-values h4 {
    margin: 10px 0;
}

@media (max-device-width:480px) {
    .label-value-info {
        min-width: 5em;
    }
    .rules-table{
        width: 95%;
    }
    .rules-table input{
        width: 6em;
    }
}