@page "/"

<h1>Hello, Румайн!</h1>

<dl>
    <dt>Тип отчета</dt>
    <dd></dd>
</dl>

<p>
    На релизе здесь будет:
</p>
<ul>
    <li>+ Два типа диаграмм: гистограмма и график</li>
    <li>Возможность детального построения отчетов</li>
    <li>Сравнение источников активности друг с другом</li>
    <li>Наполнение и описание возможостей</li>
    <li>Выбранная вкладка представления не будет сбрасываться</li>
</ul>
<p>
    После релиза здесь будет:
</p>
<ul>
    <li>Добавление отчета с накоплением</li>
    <li>Переход на БЭМ в CSS</li>
    <li>Переработка Entry, более продвинутый учет постов чата, не-чата и тд</li>
    <li>Переход на продвинутые формы и валидацию</li>
    <li>Реализация серверной части</li>
    <li>Статистика из глубин архива</li>
</ul>
Добро пожаловать в приложение статистики Румине!

<h3>Настройки отчета</h3>
<ul>
    <li>
        Периодичность
        <ul>
            <li></li>
        </ul>
    </li>
</ul>

<h3>FAQ</h3>




-Данные
Добавление данных
    - сделать последовательным
    - отключить в релизной версии
Посты
    - перенести добавление поста в данные
    - сделать оформление
    - отключить в релизной версии
Темы
    - сделать оформление
    - отключить в релизной версии