@page "/"

<style>
    .content h2{
        border-bottom: 1px solid gainsboro;
        padding-bottom: 5px;
    }
    .content p{
        line-height: 140%;
    }
    .report-blocks {
        display: flex;
        margin: 10px 5px;
    }
</style>
<article>
    <header>

        <h2>Добро пожаловать в таблицу активности Румине ремейк!</h2>
    </header>
    <div>
        <p>
            Пока что данных для статистики необходимый минимум, всё внимание уделено отчетам, графикам и прочим способам визуализации информации.
            Как только данных станет больше - данный ремейк станет еще краше.
        </p>
        <p>
            На данный момент есть два (даже три со сравнением) <s>стула</s> пути посмотреть на энту самую активность:
        </p>
        <div class="report-blocks">
            <Block Href="classic" Img="images/columns.svg" Header="Классический путь">
                <span>Заранее настроенная таблица с количеством сообщений в уездном месяце N</span>
            </Block>
            <Block Href="statistics" Img="images/sliders.svg" Header="Продвинутый вариант">
                <span>Вручную настраиваемый отчет, который покажет что угодно и как угодно. Ещё и попыхтит при этом.</span>
            </Block>
        </div>
        <p>
            Если с классическим всё понятно, то настройки продвинутого варианта стоит рассмотреть поподробнее.
        </p>

        <style>
            .report-options {
                margin: 1em;
            }

            .content {
                padding: 0.1em 1em;
                max-width: 900px;
            }

                .content h3 {
                    margin: 5px 0;
                    border-bottom: 1px solid gainsboro;
                }

            dt {
                font-weight: 600;
            }
        </style>
        <section class="content">
            <header>

                <h2>Настройки отчета</h2>
            </header>
            <ol>
                <li><p>Охватываемый период</p></li>
                <li><p>Тип отчета</p></li>
                <li><p>Периодичность</p></li>
                <li><p>Источник активности</p></li>
                @*<li><p>Отображение</p></li>*@
            </ol>
            <section>
                <header><h3>Охватываемый период</h3></header>
                <div class="content">
                    <p>
                        Ограничивает общий период просматриваемой статистики с указанной даты по указанную дату.
                    </p>
                    <p>

                        Пример: <i>Отчет по активности с 1 января 2013 по 1 января 2015</i>
                    </p>
                </div>
            </section>
            <section>
                <header id="report-type"><h3>Тип отчета</h3></header>
                <div class="content">
                    <dl>
                        <dt>Фактический отчет</dt>
                        <dd>
                            <p>
                                Не делит данные по активности на точные периоды.<br />
                                Отображает только однозначно известную статистику:<br />
                            </p>
                            <p>

                                Пример: <i> с 1 марта 2016 по 1 апреля 2016 было написано 1000 сообщений, точка.</i>
                            </p>
                        </dd>
                        <dt>Периодический отчет</dt>
                        <dd>
                            <p>
                                Делит активность на согласованные части (например месяцы), даже если данных для точного определения статистики недостаточно.<br />
                                Как вариант, можно точно знать, сколько постов написано за месяц, но не за конкретную неделю.
                                Однако предполагаемую недельную активность можно получить путем нехитрых вычислений, результат которых будет похож на реальность (но не факт).
                            </p>
                            <p>
                                Пример: <i>за 1-ю неделю апреля 2016 было написано ~ 250 сообщений, но это не точно</i>
                            </p>
                        </dd>
                    </dl>
                </div>
            </section>
            <section>
                <header id="period"><h3>Периодичность</h3></header>
                <div class="content">
                    <p>
                        Указывает тип деления общих временных рамок на отдельные периоды с показателями активности.
                    </p>
                    <ul>
                        <li>
                            <p>В случае <i>периодического</i> отчета работает как положено, задает периодичность записей.</p>
                        </li>
                        <li>
                            <p>Если указать своё значение периода (например 30 дней), то периоды не будут привязаны к 1-м числам месяца / года, как это происходит при выборе заранее заданных значений</p>
                        </li>
                        <li>
                            <p>В случае <i>фактического</i> отчета задает минимальную временную разницу между отображаемыми соседними записями. При этом деление на четкий период может не соблюдаться - всё зависит от исходных данных</p>
                        </li>
                    </ul>
                    <p>
                        Например: <i>Периодический отчет - с 1 января 2013 по 31 декабря 2016, периодичность в <b>месяц</b>: 36 записей</i>
                    </p>
                    <p>
                        Или: <i>Фактический отчет - с 1 января 2013 по 31 декабря 2016, разница в записях минимум <b>месяц</b>: &lt;36 записей</i>
                    </p>
                    <p>
                        <b>Включать пустые периоды</b> - дополнительная опция, по умолчанию отключена.
                    </p>
                    <p>
                        Пример: <i>Периодический отчет - с 1 января 2012 по 31 декабря 2020, периодичность в <b>месяц</b> для темы 100500: 5 записей (тк тема была активной 5 месяцев)</i>
                    </p>
                </div>
            </section>
            <section>
                <header id="activity-source"><h3>Источник</h3></header>
                <div class="content">
                    <p>
                        Задает место появления активности, что учитывать, где игнорировать.
                    </p>
                    <dl>
                        <dt>Весь форум</dt>
                        <dd>
                            <p>

                                Самый надежный, точный и понятный источник.
                            </p>
                        </dd>
                        <dt>Конкретная тема</dt>
                        <dd>
                            <p>
                                Ограничивает активность указанной темой. Если из темы удалялись посты, то могут возникнуть проблемки (небольшие)
                            </p>
                        </dd>
                        <dt>Все форумные чаты / Всё кроме ФЧ</dt>
                        <dd>
                            <p>
                                Параметр в разработке, который суммирует активность сразу из нескольких тем. Пока или не работает вообще, или работает плохо. Я вас предупредил
                            </p>
                        </dd>
                    </dl>
                </div>
            </section>
            <section>
                <header><h3>Общие рекомендации</h3></header>
                <div class="content">
                    <ul>
                        <li>
                            <p>
                                Не задавать для большого периода мелкое деление. Нет, можно по дням просмотреть всю активность с 2011 по @DateTime.Now.Year. Но грузиться будет весьма долго, а понятно будет мало (или вообще ничего).
                            </p>
                        </li>
                        <li>
                            <p>
                                Не использовать источники "все ФЧ / все не ФЧ" - работают они плохо.
                            </p>
                        </li>
                        <li>
                            <p>
                                Комбинировать настройки в разумных пределах - и будет счастье!
                            </p>
                        </li>
                        <li>
                            <p>
                                Не удивляться отсутствующей или единичной информации при пограничных настройках, например
                            </p>
                            <ul>
                                <li>
                                    <p class="example">
                                        <i>Отчет с общим периодом за март 2015, с заданной периодичностью в месяц;</i>
                                    </p>
                                </li>
                                <li>
                                    <p class="example">
                                        <i>Отчет с 1 июля 2014 по 1 декабря 2014, с заданной периодичностью в год.</i>
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <section class="content">
            <h2>А как это вообще работает?</h2>
            <ol>
                <li>
                    <p>Уездный пользователь <i>S</i> в уездной теме N с ID 10500 <b>23 апреля 2015 года в 00:00</b> написал пост с ID <b>1500</b>, позицией поста <b>№100</b> в данном топике.</p>
                </li>
                <li>
                    <p>Уездный пользователь <i>K</i> в уездной теме N с ID 10500 <b>31 августа 2015 года в 00:00</b> написал пост с ID <b>5000</b>, позицией поста <b>№300</b> в данном топике.</p>
                </li>
                <li>
                    <p>Уездный пользователь <i>A</i> увидел данные сообщения, записал их и сделал выводы:</p>
                    <ul>
                        <li><p> В период с 1 апреля 2015 по 31 августа 2015 на всём форуме написано 5000 - 1500 = 3500 постов, в том числе и уже удаленных;</p></li>
                        <li><p> В период с 1 апреля 2015 по 31 августа 2015 В теме N-10500 написано 300 - 100 = ~ 200 постов, хотя сколько было удалено между этими датами - неизвестно.</p></li>
                    </ul>
                </li>
            </ol>
            <p>Подробности знать, собственно, необязательно.</p>
        </section>

    </div>
</article>


