@page "/"

<h1>Hello, Румайн!</h1>

<p>
    На релизе здесь будет:
</p>
<ul>
    <li>Два типа диаграмм: гистограмма и график</li>
    <li>Возможность детального построения отчетов</li>
    <li>Сравнение источников активности друг с другом</li>
</ul>

Добро пожаловать в приложение статистики Румине!
