@page "/"

<style>
    .content h2{
        border-bottom: 1px solid gainsboro;
        padding-bottom: 5px;
    }
</style>
<article>
    <header>

        <h2>Добро пожаловать в таблицу активности Румине ремейк!</h2>
    </header>
    <div>
        <p>
            Есть два <s>стула</s> пути посмотреть на энту самую активность:
        </p>
        <div class="row">
            <div>
                <img alt="Классический вариант" src="images/columns.svg" />
                <span>Классический</span><br />
                <span>Заранее настроенная таблица с количеством сообщений в уездном месяце N</span>
            </div>
            <div>
                <img alt="Классический вариант" src="images/sliders.svg" />
                <span>Продвинутый</span><br />
                <span>Вручную настраиваемый отчет, который покажет что угодно и как угодно. Ещё и попыхтит при этом.</span>
            </div>
        </div>
        <p>
            Если с классическим всё понятно, то настройки продвинутого варианта стоит рассмотреть поподробнее.
        </p>

        <style>
            .report-options {
                margin: 1em;
            }

            .content {
                padding: 0.1em 1em;
            }

                .content h3 {
                    margin: 5px 0;
                    border-bottom: 1px solid gainsboro;
                }

            dt {
                font-weight: 600;
            }
        </style>
        <section class="content">
            <header>

                <h2>Настройки отчета</h2>
            </header>
            <p>
                Существует 5 основных настройки, далее описана каждая из них.
            </p>
            <ol>
                <li><p>Временной промежуток</p></li>
                <li><p>Тип отчета</p></li>
                <li><p>Периодичность</p></li>
                <li><p>Источник</p></li>
                <li><p>Отображение</p></li>
            </ol>
            <section>
                <header><h3>Временной промежуток</h3></header>
                <div class="content">
                    <p>
                        Ограничивает общий период просматриваемой статистики с указанной даты по указанную дату.
                    </p>
                    <p>

                        Пример: <i>Отчет по активности с 1 января 2013 по 1 января 2015</i>
                    </p>
                </div>
            </section>
            <section>
                <header><h3>Тип отчета</h3></header>
                <div class="content">
                    <p>
                        Конечным результатом всегда является отчет, которые содержит записи про статистику сообщений форума Румине за период.
                    </p>
                    <dl>
                        <dt>Фактический отчет</dt>
                        <dd>
                            <p>
                                Не делит данные по активности на заданные периоды.<br />
                                Отображает только точно известную статистику:<br />
                            </p>
                            <p>

                                Пример: <i> с 1 марта 2016 по 1 апреля 2016 было написано 1000 сообщений, точка.</i>
                            </p>
                        </dd>
                        <dt>Периодический отчет</dt>
                        <dd>
                            <p>
                                Делит активность на согласованные части (например месяцы), даже если данных для точного определения статистики недостаточно.<br />
                                Как вариант, можно точно знать, сколько постов написано за месяц, но не за конкретную неделю. Однако предполагаемую активность можно получить путем нехитрых вычислений, после чего представить как вроде и настоящую!
                            </p>
                            <p>
                                Пример: <i>за 1-ю неделю апреля 2016 было написано ~ 250 сообщений, но это не точно</i>
                            </p>
                        </dd>
                    </dl>
                </div>
            </section>
            <section>
                <header><h3>Периодичность</h3></header>
                <div class="content">
                    <p>
                        Указывает тип деления общих временных рамок на отдельные периоды с показателями активности.
                    </p>
                    <ul>
                        <li>
                            <p>В случае <i>периодического</i> отчета работает как положено, задает периодичность записей</p>
                        </li>
                        <li>
                            <p>В случае <i>фактического</i> отчета задает минимальную разницу между показываемыми соседними записями. При этом деление на четкий период может не соблюдаться - всё зависит от исходных данных</p>
                        </li>
                    </ul>
                    <p>
                        Например: <i>С 1 января 2013 по 31 декабря 2016, периодичность в <b>месяц</b>: 36 записей</i>
                    </p>
                </div>
            </section>
            <section>
                <header><h3>Источник</h3></header>
                <div class="content">
                    <p>
                        Задает место появления активности, говорит откуда считать, а где игнорировать. Варианты следующие:
                    </p>
                    <dl>
                        <dt>Весь форум</dt>
                        <dd>
                            <p>

                                Самый надежный и точный источник
                            </p>
                        </dd>
                        <dt>Конкретная тема</dt>
                        <dd>
                            <p>
                                Ограничивает активность указанной темой. Если из темы удалялись посты, то могут возникнуть проблемки (небольшие)
                            </p>
                        </dd>
                        <dt>Все форумные чаты / Всё кроме ФЧ</dt>
                        <dd>
                            <p>
                                Параметр в разработке, который суммирует активность сразу из нескольких тем. Пока или не работает вообще, или работает плохо. Я вас предупредил
                            </p>
                        </dd>
                    </dl>
                </div>
            </section>
            <section>
                <header><h3>Общие рекомендации</h3></header>
                <div class="content">
                    <ul>
                        <li>
                            <p>
                                Не задавать для большого периода мелкое деление. Нет, можно по дням просмотреть всю активность с 2011 по @DateTime.Now.Year. Но грузиться будет весьма долго, а понятно будет мало (или вообще ничего).
                            </p>
                        </li>
                        <li>
                            <p>
                                Не использовать источники "все ФЧ / все не ФЧ" - работают они плохо.
                            </p>
                        </li>
                        <li>
                            <p>
                                Комбинировать настройки в разумных пределах - и будет счастье!
                            </p>
                        </li>
                        <li>
                            <p>
                                Не удивляться отсутствующей или единичной информации при пограничных настройках, например
                            </p>
                            <ul>
                                <li>
                                    <p class="example">
                                        <i>Отчет с общим периодом за март 2015, с заданной периодичностью в месяц</i>
                                    </p>
                                </li>
                                <li>
                                    <p class="example">
                                        <i>Отчет с 1 июля 2014 по 1 декабря 2014, с заданной периодичностью в год</i>
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <section class="content">
            <h2>А как это вообще работает?</h2>
            <ol>
                <li>
                    <p>Уездный пользователь S в уездной теме N с ID 10500 23 апреля 2015 года в 00:00 написал пост с ID 1500, позицией поста №100 в данном топике.</p>
                </li>
                <li>
                    <p>Уездный пользователь K в уездной теме N с ID 10500 31 августа 2015 года в 00:00 написал пост с ID 5000, позицией поста №300 в данном топике.</p>
                </li>
                <li>
                    <p>Уездный пользователь A увидел данные сообщения, записал их и сделал выводы:</p>
                    <ul>
                        <li><p> В период с 1 апреля 2015 по 31 августа 2015 на всём форуме написано 5000 - 1500 = 3500 постов, в том числе и уже удаленных</p></li>
                        <li><p> В период с 1 апреля 2015 по 31 августа 2015 В теме N-10500 написано 300 - 100 = ~ 200 постов, хотя сколько было удалено между этими датами - неизвестно</p></li>
                    </ul>
                </li>
            </ol>
            <p>Подробности знать, собственно, необязательно.</p>
        </section>

    </div>
</article>


@*Промежутки:
    - Границы включаются - сегмент / отрезок (замкнутый интервал)
    - Границы не включатся - интервал (открытый интервал)*@

