@page "/"

<article>
    <header>
        <h2 style="margin-bottom: 8px">Добро пожаловать в таблицу активности Румине ремейк!</h2>
    </header>
    <div>
        <section class="content">
            <p>
                Мы знаем, сколько сообщений написали пользователи славного форума <a href="https://ru-minecraft.ru/forum" target="_blank">ru-minecraft.ru</a> в любом месяце любого года
                его существования.
                Теперь будете знать и вы! Надо нажать всего пару кнопочек, и готово дело, взор будут услаждать многочисленные диаграммы и груды чисел до небес.
            </p>
            <div class="report-blocks">
                <Block Href="create" Img="images/columns.svg" Header="Создать отчет">
                    <span>Манящая и большая кнопка, так и тянет сюда нажать.</span>
                </Block>
            </div>
            <p>
                Ну или можно сначала прочитать инструкцию по использованию.
            </p>
        </section>
        <section class="content">
            <header>
                <h3>Создание статистики</h3>
            </header>
            <div class="content">
                <p>
                    Допустим, очень хочется узнать статистику по количеству написанных сообщений за 2014 год. Что же делать, как же быть?
                    Решение простое – создать "отчёт" с парой нужных параметров, подробнее про них далее.
                </p>
            </div>
            <section>
                <header><h4>Временные рамки</h4></header>
                <div class="content">
                    <p>
                        Ограничивают общий период просматриваемой статистики с указанной даты по указанную дату <b>включительно</b>!
                    </p>
                    <p>
                        Если нужна статистика за 2014, то датой начала задаем 1 января 2013, а датой конца 31 декабря 2014. Итого мы узнаем статистику за весь год.
                    </p>
                </div>
            </section>
            <section>
                <header id="period"><h4>Периодичность</h4></header>
                <div class="content">
                    <Collection HeaderText="" List="EnumValues.PeriodsList" T="Period" />
                    <p>
                        Или же детализация. В любом году 12 месяцев. Или 365 дней (366). Или 52 недели. Во всяком случае целый период можно поделить на кучу мелких записей с
                        разной точностью, именно за неё этот параметр и отвечает.
                    </p>
                    <p>
                        Само собой, деление зависит от общих временных рамок. Можно делить год на месяцы, год на кварталы, кварталы на недели, а месяца на дни и далее по списку.
                        Это уже как заблагорассудится.
                    </p>
                </div>
            </section>
            <section>
                <header><h4>Однако!</h4></header>
                <div class="content">
                    <p>
                        Если при сочетании указанной периодичности и общих временных рамок получается больше 200 записей, то создать такой отчет нельзя.
                        Надо или сужать общие временные рамки, или выбирать более широкое деление. Аналогично с настройками, где получается меньше 3-х записей.
                    </p>
                    <p>
                        Почему так сделано? Потому что отчеты с большим количеством периодов 1) загружаются дольше положенного 2) выглядят невнятно.
                        Но в будущем, возможно, это исправится.
                    </p>
                </div>
            </section>
        </section>
        <section class="content">
            <h3>А как это вообще работает?</h3>
            <div class="content">
                <p>
                    Это история из 3-х актов.
                </p>
                <ol>
                    <li>
                        <p>Уездный пользователь S <b>1 января 2014 года в 00:00</b> написал пост с ID <b>1500</b>.</p>
                    </li>
                    <li>
                        <p>Уездный пользователь K <b>1 января 2015 года в 00:00</b> написал пост с ID <b>5000</b></p>
                    </li>
                    <li>
                        <p>Уездный пользователь <i>A</i> увидел данные сообщения, записал их и сделал выводы:</p>
                        <ul>
                            <li><p> За 2014 год на всём форуме написано 5000 - 1500 = 3500 постов, в том числе и уже удаленных;</p></li>
                        </ul>
                    </li>
                </ol>
                <p>Подробности знать, собственно, необязательно.</p>
            </div>
        </section>

    </div>
</article>


