@page "/lastchanges"

<article>
    <h3>Последние изменения</h3>
    <h4>v0.95</h4>
    <p>
        Изменения:
    </p>
    <p>
        Релиз: ???
    </p>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</article>

@code {

}
