@page "/lastchanges"

<article class="update-list">
    <h2>Версии приложения</h2>
    <div>
        <section class="update-item">
            <h3 class="update-version-header">v1.00</h3>
            <section class="update-info">
                <div class="update-info-row">
                    <p>
                        <span class="update-date">20 мая 2025</span>
                        <span class="last-version-tag">актуальная версия!</span>
                    </p>
                </div>
            </section>
            <section class="update-changes">
                <h4>Список изменений</h4>
                <ul>
                    <li>
                        <p class="update-description">
                            Исправлен баг с вылетом при выборе активности за 2024 год.
                        </p>
                    </li>
                    <li>
                        <p class="update-description">
                            Добавлена статистика использования рейджей на форуме за 2011-2022 по просьбам трудящихся.
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Позволяет просматривать наиболее популярные рейджи с сортировкой и фильтрацией по годам.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>
        <section class="update-item">
            <h3 class="update-version-header">v0.98</h3>
            <section class="update-info">
                <div class="update-info-row">
                    <p>
                        <span class="update-date">7 декабря 2024</span>
                    </p>
                </div>
            </section>
            <section class="update-changes">
                <h4>Список изменений</h4>
                <ul>
                    <li>
                        <p class="update-description">
                            Исправлен баг с вылетом при выборе активности за 2024 год.
                        </p>
                    </li>
                    <li>
                        <p class="update-description">
                            Добавлена статистика использования рейджей на форуме за 2011-2022 по просьбам трудящихся.
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Позволяет просматривать наиболее популярные рейджи с сортировкой и фильтрацией по годам.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>
        <section class="update-item">
            <h3 class="update-version-header">v0.95</h3>
            <section class="update-info">
                <div class="update-info-row">
                    <p>
                        <span class="update-date">9 декабря 2023</span>
                    </p>
                </div>
            </section>
            <section class="update-changes">
                <h4>Список изменений</h4>
                <ul>
                    <li>
                        <p class="update-description">
                            Актуальные данные по активности 2011-2023
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Теперь статистика активности доступна с точностью до дня за почти всё время существования форума.
                                    Многочисленные наработки по добыче информации из секретных архивов дали свой результат!
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Данные по самым первым месяцам (2011) все еще расплывчатые и неточные, но это максимум, который можно достичь. 
                                    Лучше уже навряд ли будет.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="update-description">
                            Улучшение механизма подсчета статистики, повышение точности
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Теперь для определения активности периода используются ТОЛЬКО ID сообщений и дата их написания.
                                    Номер поста в теме, сами темы теперь не учитываются.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    У каждого периода теперь появились "точность" определения статистики. Чем больше граничных постов мы не можем однозначно соотнести с
                                    нужным периодом, тем ниже его точность. Низкая точность - не более 5000 неопределенных постов, средняя – не более 500, хорошая – не более 100, высокая – не более 20, идеальная - не более 0.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="update-description">
                            Создание отчета отделено от его просмотра. Можно создавать сразу несколько отчетов и быстро переключаться между ними.
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Список всех открытых отчетов теперь отображается в правом меню.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    При создании отчета он добавляется в список и автоматически открывается.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Любой открытый отчет можно закрыть. Последний отчет в списке закрыть нельзя.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Открытые отчеты используются в сравнении. При создании отчета с настройками идентичными уже существующему, произойдёт переключение на него.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Отдельной вкладки "классической" статистики больше нет. Однако настройки создания нового отчета по умолчанию соответствуют этой "классической" статистике.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="update-description">
                            Улучшения создания отчета
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Так как источник сообщений теперь только один (весь форум), то лишние настройки были удалены.
                                    Осталось всего две настройки - общие временные рамки и периодичность.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Выбор общих временных рамок был перенесен в таблицу, теперь выбранные рамки куда более наглядны + позволяют задавать более гибкий
                                    период. Для выбора начального-конечного месяца используется левая и правая кнопка мыши соответственно.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Добавлена новая периодичность – поквартальная (в каждом году 4 квартала по 3 месяца).
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Создать отчет с "некорректным" сочетанием общих временных рамок и периодичности теперь нельзя. Сочетание считается некорректным,
                                    если при делении общих рамок на заданную периодичность получается либо меньше 3 периодов, либо больше 200.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="update-description">
                            Улучшения страницы отчета
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Добавление навигации в верху страницы
                                </p>
                                <ul>
                                    <li>
                                        <p class="update-description">
                                            Если отчет можно сдвинуть по временным рамкам вперед или назад, в зависимости от периода (на год, месяц, неделю и т.д.), то будут 
                                            доступны кнопки быстрого создания нового отчета со сдвинутыми рамками.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Если для отчета можно выбрать более или менее подробную детализацию по периодам, то также будут доступны кнопки
                                            "Глубже", "Выше", которые создают идентичный отчет, но с другим делением.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="update-description">
                                    Изменения настроек отображения
                                </p>
                                <ul>
                                    <li>
                                        <p class="update-description">
                                            Настройки сохраняются при обновлении страницы
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Настройки отображения теперь есть на каждой вкладке отчета, на каждой из них свои, имеющие смысл для данной вкладки.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Добавлена возможность сортировки по значению вместо даты.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Цветовые "правила" скрыты.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="update-description">
                                    Изменения вкладки списка значений
                                </p>
                                <ul>
                                    <li>
                                        <p class="update-description">
                                            Добавлены столбцы "% от целого" и "точность". Под "целым" подразумевается весь отчет. Если по столбцу можно сделать сортировку, то он выделяется при наведении.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Появилась возможность выгрузить список значений в CSV-формат. Файл выгружается по названию отчета в кодировке UTF-8 
                                            (Excel может не понять, ему нужно явно указать кодировку UTF-8 вместо win-1251).
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Появился дополнительный список записей с "неопределенными постами", которые повлияли на точность основных периодов. По умолчанию он скрыт.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="update-description">
                                    Изменения диаграмм
                                </p>
                                <ul>
                                    <li>
                                        <p class="update-description">
                                            У всех диаграмм добавилась горизонтальная легенда с линиями значений + недостающие подписи к элементам.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Если записей слишком много, и подпись для каждого периода на экране не поместится, то подписи будут сгруппированы по 
                                            дате. Точные значения при этом можно определить при наведении или по легенде значений.
                                            Для сортировки по значениям группировка подписей не действует.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Вкладка обычного графика удалена, так как он дублировал по функциональности гистограмму и при этом меньше подходил 
                                            для визуализации активности.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            "График с заливкой" теперь график с накоплением, показывает накопленное значение (сообщения или страницы) к концу периода.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="update-description">
                                    Теперь некоторые вкладки отчета недоступны, если периодичность отчета не позволяет их адекватно построить (например табличный вид для недельных отчетов)
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    Везде улучшено отображение дробных значений с округлением.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="update-description">
                            Новое сравнение отчетов вместо сравнения источников активности
                        </p>
                        <ul>
                            <li>
                                <p class="update-description">
                                    Так как активность больше не учитывает темы, то старое сравнение ФЧ и не ФЧ и конкретных тем друг с другом невозможно, 
                                    соответственно и вкладка старого сравнения удалена.
                                </p>
                            </li>
                            <li>
                                <p class="update-description">
                                    На страницу отчета добавлена новая вкладка сравнения
                                </p>
                                <ul>
                                    <li>
                                        <p class="update-description">
                                            В новой вкладке выбранный отчет может сравниваться с другими отчетами, имеющими ту же периодичность.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            По умолчанию каждый новый отчет добавляется в сравнение. Его можно оттуда убрать, сняв с него галку.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            По умолчанию все отчеты сравниваются с текущим выбранным, а в таблице показывается разница значений (если она включена в настройках).
                                        </p>
                                    </li>
                                    <li>
                                        <p class="update-description">
                                            Также сравниваются и конкретные периоды отчетов по порядку, начиная с 1-го.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>

        <section class="update-item">
            <h3 class="update-version-header">v0.85</h3>
            <section class="update-info">
                <div class="update-info-row">
                    <p>
                        <span class="update-date">11 декабря 2021</span>
                    </p>
                    <a href="https://alleaxx.github.io/RumineActivity/" target="_blank">
                        ссылка
                    </a>
                </div>
                <p class="update-description">
                    Дополнение статистикой до июля 2014 года и до конца 2021. Подробная статистика по дням в периоды с 2013 по 2017, однако надёжность 
                    подробной статистики под большим сомнением.
                </p>
            </section>
        </section>
        <section class="update-item">
            <h3 class="update-version-header">v0.80</h3>
            <section class="update-info">
                <div class="update-info-row">
                    <p>
                        <span class="update-date">сентябрь 2021</span>
                    </p>
                    <a href="https://alleaxx.github.io/RumineActivity/" target="_blank">
                        ссылка
                    </a>
                </div>
                <p class="update-description">
                    Первая версия, содержала статистику с июля 2014 по июль 2021, ну и добавила все основные функции.
                </p>
            </section>
        </section>
    </div>
</article>
