.comparison{

}
.comparison h2{

}
    .comparison h3 {
        font-size: 1.2em;
        margin: 5px;
        border-bottom: 1px solid gainsboro;
    }
    .content{
        padding: 1em;
    }

    .comparison .options {
        min-height: 250px;
    }


/* ТАБЛИЦА ИСТОЧНИКОВ АКТИВНОСТИ */
table.sources{
    height: 100px;
}
    .comparison .sources td, .comparison .sources th {
        border: 0;
        text-align: left;
    }
    .sources tr:last-child td{
        color: gray;
    }
    .sources .main{
        font-weight: 600;
    }

.sources button{
    padding: 8px 14px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.sources button:hover{
    color: royalblue;
    border: 0;
    background-color: whitesmoke;
}
    .sources td.delete button:hover {
        color: red;
    }



/* ТАБЛИЦА СРАВНЕНИЯ */
.comparison table{
    border-collapse: collapse;
    margin: 0 10px;
}
    .comparison table td {
        text-align: center;
        padding: 8px 12px;
        font-size: 0.9em;
        color: rgb(64,64,64);
        border-bottom: 1px solid gainsboro;
    }
    .comparison table th {
        padding: 8px;
        border: 1px solid silver;
    }

/* ИМЯ ИСТОЧНИКОВ АКТИВНОСТИ */
.source-name th {
    font-size: 0.9em;
    padding: 8px 2px;
}

.source-name .compare {
    background-color: whitesmoke;
}

/* ЗНАЧЕНИЯ В ТАБЛИЦЕ СРАВНЕНИЯ */
.comparison td.property {
    padding-left: 4px;
    text-align: left;
    font-size: 1em;
    color: black;
}
td .more{
    color: green;
}
td .less{
    color: red;
}
td .self{
    display: none;
}



