.comparison{
}

/* ЗАГОЛОВКИ */
.comparison header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding: 5px 0;
}
.comparison header img{
    margin: 0 5px;
    height: 24px;
}

    .comparison header h3 {
        display: inline-block;
        font-size: 1.3em;
        margin: 5px;
    }


.description {
    flex: 1;
    order: 1;
    padding-left: 1em;
    border-left: 1px solid gainsboro;
}
    .description dt {
        font-weight: 600;
    }


/* ТАБЛИЦА ИСТОЧНИКОВ АКТИВНОСТИ */
.sources-table {
    height: 100%;
    border-collapse: collapse;
    flex: 1;
    order: 0;
    margin: 0 10px;
}
.sources-table td {
    padding: 8px 12px;
    font-size: 0.9em;
    color: rgb(64,64,64);
    border-bottom: 1px solid gainsboro;
}
    .sources-table th {
        padding: 8px 12px;
        border-bottom: 1px solid gainsboro;
    }
    .sources-table tr:last-child td{
        color: gray;
        border: 0;
    }


/* КНОПКИ В ТАБЛИЦЕ ИСТОЧНИКОВ */
.sources-table button{
    width: 100%;
    height: 100%;
    padding: 8px 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.sources-table button:hover{
    color: royalblue;
    border: 0;
    background-color: whitesmoke;
}
    .sources-table .main button {
        font-weight: 600;
        color: royalblue;
    }

    .sources-table .delete button {
        color: darkred;
    }
    .sources-table td.delete button:hover {
        color: red;
    }



/* ТАБЛИЦА СРАВНЕНИЯ */
.compare-table{
    border-collapse: collapse;
    margin: 0 10px;
}
    .compare-table td {
        text-align: right;
        padding: 8px 12px;
        font-size: 0.9em;
        color: rgb(64,64,64);
        border: 1px solid gainsboro;
    }
    .compare-table th {
        padding: 8px;
        border: 1px solid silver;
        text-align: left;
    }


/* ТАБЛИЦА СРАВНЕНИЯ, ИМЕНА ИСТОЧНИКОВ */
.source-name{
    --compare-color: royalblue;
}
.source-name th {
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}
    .source-name th:hover {
        color: var(--compare-color);
        cursor: pointer;
    }
    .source-name .compare {
        color: var(--compare-color);
        border-bottom: 1px solid var(--compare-color);
    }
    .source-name .compare:hover {
        cursor: default;
    }

/* ЗНАЧЕНИЯ В ТАБЛИЦЕ СРАВНЕНИЯ */
.compare-table td.property {
    text-align: left;
    font-size: 1em;
    color: black;
}
td .more, td .less, td .self{
    font-size: 0.8em;
}

td .more{
    color: forestgreen;
}
td .less{
    color: red;
}
td .self{
    display: none;
}



