@page "/statistics/compare"

<h3>Сравнение источников активности</h3>

<p>Включить в список сравнения:
    <select multiple size="5">
        <option>Весь форум</option>
        <option>Все ФЧ</option>
        <option>Все не ФЧ</option>
        <option>Тема 1</option>
        <option>Тема 2...</option>
    </select>
    </p>
<table>
    <tr>
        <td>-</td>
        <td>По всему форуму</td>
        <td>Тема 1</td>
    </tr>
    <tr>
        <th>Дата первого сообщения</th>
        <td>27 июля 2011</td>
        <td>24 июля 2014</td>
    </tr>
    <tr>
        <th>Дата последнего сообщения</th>
        <td>6 сентября 2021</td>
        <td>10 апреля 2015</td>
    </tr>
    <tr>
        <th>Всего постов</th>
        <td>500 000</td>
        <td>40 000</td>
    </tr>
    <tr>
        <th>Средний показатель активности</th>
        <td>10</td>
        <td>50</td>
    </tr>
    <tr>
        <th>Написано за 1-й месяц</th>
        <td>100</td>
        <td>400</td>
    </tr>
    <tr>
        <th>Написано за 3-й месяц</th>
        <td>600</td>
        <td>400</td>
    </tr>
    <tr>
        <th>Написано за год</th>
        <td>1000</td>
        <td>3000</td>
    </tr>
</table>

@code {

}
