
.statistics {
    display: grid;

    grid-template-columns: 7fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "stat-options stat-options"
        "stat-sheme stat-rules";
}

.options {
    grid-area: stat-options;
}

    .options h2, .report h2, .rules h2{
    background-color: whitesmoke;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    border: 1px solid silver;
}
    .options h3 {
        padding: 5px 0;
        border-bottom: 1px solid var(--border-brush);
    }

    .options .dates {
    }

    .options .source {
    }
    .options .source summary h4{
        display: inline-block;
    }
/*.statistics-data {
    padding: 1em;
    border-left: 1px solid silver;
}*/

.report {
    grid-area: stat-sheme;
}


.report-info{

}


.rules {
    grid-area: stat-rules;
    background-color: whitesmoke;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.rules h2{
    margin: 0;
    padding: 15px 0;
}
    .rules .content {
        font-size: 0.9em;
    }

.sheme{

}



.statistics-data-table {
    border: 1px solid var(--border-brush);
}

.statistics-view-options {
    padding: 1em;
}



h4.options-list-header{
    font-weight: 600;
    margin: 10px 0;
}
.options-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 6px 0;
    padding-left: 1.25em;
}
.option-item {
    display: block;
    padding: 6px 12px;

    border: 1px solid transparent;
    border-radius: 2px;

    cursor: pointer;
    color: rgb(64,64,64);
}
    .option-item:hover {
        background-color: whitesmoke;
    }
    .rules .option-item:hover{
        background-color: gainsboro;
    }

.option-item.selected{
    background-color: whitesmoke;
    border: 1px solid var(--border-brush);
}
.rules .option-item.selected{
    background-color: gainsboro;
    border: 1px solid silver;
}

.option-accuracy{
    margin: 14px 0;
}
.option-accuracy input{
    width: 30%;
    margin-left: 10px;
}

.entry-interval-input{
    margin: 0 6px;
    width: 50px;
}

.creation{
    display: flex;
    justify-content: left;
    margin: 14px 8px;
}

.creation button{
    padding: 5px 10px;
    margin: 5px;
    font-size: 1em;
    background-color: transparent;
    border-color: lightgreen;
    cursor: pointer;
}
    .creation button:hover {
        background-color: lightgreen;
    }