@inherits StatComponent
@page "/statistics"

<div class="report-section">
    <ReportFullComponent Report="App.ReportsCollection.SelectedReport" />
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        App.ReportsCollection.OnReportsCollectionChanged += App_OnNewReportAppeared;
        App.ReportsCollection.OnReportSelected += App_OnNewReportAppeared;
    }

    private void App_OnNewReportAppeared(StatisticsReport obj)
    {
        StateHasChanged();
    }
}