@inherits StatComponent
@page "/posts/view"

<style>
    .topic{
        margin: 8px;
        font-size: 0.9em;
    }
</style>

<div class="posts-view">
    <header>
        <h2>Редактирование постов</h2>
    </header>
    <section>
        <header>
            <h3>Настройки</h3>
        </header>
        <div>
            <label for="topic-names">
                <span>Название вместо ID тем:</span>
            </label>
            <input type="checkbox" id="topic-names" @bind-value="ShowTopicNames" />
        </div>
    </section>

    <Table Items="Posts" Context="Post">
        <TableHeader>
            <th class="id">ID</th>
            <th colspan="2">Дата</th>
            <th>@(ShowTopicNames ? "Имя темы" : "ID темы")</th>
            <th class="id">№ в теме</th>
            <th>Действия</th>
        </TableHeader>
        <RowTemplate>
            <td class="id"><input type="number" min="1" max="5000000" @bind-value="(Post.ID)" /></td>
            <td><input type="date" @bind-value="(Post.Date)" /></td>
            <td><input type="time" @bind-value="(Post.Date)" /></td>
            <td class="id">

                @if (ShowTopicNames)
                { <span class="topic">@GetTopicName(Post.TopicID)</span> }

                else
                { <input type="number" list="topicsList" min="1" max="100000" @bind-value="(Post.TopicID)" /> }

            </td>
            <td class="id"><input type="number" min="1" max="5000000" @bind-value="(Post.TopicIndex)" /></td>
            <td class="actions">
                <input class="save" type="button" value="[ S ]" />
                <input class="delete" type="button" value="[ X ]" @onclick="(() => App.Remove(Post))" />
            </td>
        </RowTemplate>
    </Table>

    <DataTopics ></DataTopics>
</div>

@code{
    private bool ShowTopicNames { get; set; } = false;
    private string GetTopicName(int topicId)
    {
        var foundTopic = Topics.FirstOrDefault(t => t.ID == topicId);
        if(foundTopic != null)
        {
            return foundTopic.Name;
        }
        else
        {
            return "<неизвестно>";
        }
    }
}