@inherits StatComponent
@page "/topics/view"

<section class="topics-view">
    <header>
        <h2>Редактирование тем</h2>
    </header>

    <ViewTable Items="Topics" Context="Topic">
        <TableHeader>
            <th class="id">ID</th>
            <th>Название</th>
            <th>Чат?</th>
            <th>Действия</th>
        </TableHeader>
        <RowTemplate>
            <td class="id"><input type="number" min="1" max="100000" @bind-value="(Topic.ID)" /></td>
            <td class="name"><input type="text" maxlength="80" size="80" @bind-value="(Topic.Name)" /></td>
            <td align="center"><input type="checkbox" @bind-value="(Topic.IsChat)" /></td>
            <td class="actions">
                <input class="save" type="button" value="[ S ]" />
                <input class="delete" type="button" value="[ X ]" @onclick="(() => StatApp.App.Remove(Topic))" />
            </td>
        </RowTemplate>
    </ViewTable>


</section>
